.farmContainer {
  margin: 20px 0px 40px;
  width: calc(100% - 20px);
  max-width: 1650px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.farmTitle {
  margin: 20px 0;
}

.farmStandInfoContainer {
  font-family: 'PlatypiMedium';
}

.farmStandMenuContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
  width: 100%;
}

.farmTitle,
.textContainer > h4 {
  font-size: 20px;
  font-family: 'PlatypiMedium';
  text-align: center;
}

.farmText {
  margin: 10px;
}

.farmText {
  width: calc(100% - 20px);
  text-align: left;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

hr {
  color: black;
  height: 2px;
  width: 100%;
}

.farmStandItem {
  list-style-type: disc;
}

.farmStandMenuContainer > .imageGalleryContainer {
  border: 3px solid #792e1b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 60px;
}

.farmStandMenuContainer > .imageGalleryContainer > img {
  object-fit: contain;
  object-fit: scale-down;
  height: 400px;
}

.farmMiscellaneousContainer {
  border: #792e1b 2px solid;
  padding: 10px;
  width: 90%;
}
