.homeContainer {
  margin: 0px;
  width: calc(100% - 10px);
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePhoto {
  width: 100%;
  min-height: 600px;
  max-height: 1000px;
  max-width: 1650px;
  object-fit: cover;
}

.homeTextContainer {
  margin-top: 20px;
  font-size: x-large;
  text-align: center;
  max-width: 1650px;
}

.homeMainCaption {
  font-size: 20px;
  margin: 10px 10px 30px;
}

.galleryContainer {
  margin: 60px 0 30px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.galleryImage {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.galleryItem {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  text-align: center;
  margin: 10px 0;
}

.galleryItemTitle {
  font-size: 20px;
  color: rgb(33, 53, 71);
}

.galleryItemTitle:hover {
  color: #792e1b;
}

.galleryItemDescription {
  font-size: 16px;
}

hr {
  background-color: #792e1b;
  height: 2px;
}

.menuBlurb {
  margin: 30px 0;
}

@media (max-width: 600px) {
  .homePhoto {
    display: none;
  }
  .galleryContainer {
    flex-direction: column;
    align-items: center;
  }
}
