.contactContainer {
  margin: 50px 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #792e1b;
}

.contactInfo {
  font-size: 18px;
}

.contactItem {
  margin-bottom: 10px;
}

.contactItem span {
  font-weight: bold;
  color: #792e1b;
}

.contactItem a {
  font-size: 18px;
  color: black;
  text-decoration: underline #dc2c84 1px;
}

.contactItem a:hover {
  text-decoration: underline;
}
