.farmContainer {
  margin: 40px 5%;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.farmStandMenuContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

hr {
  color: black;
  height: 2px;
  width: 100%;
}
