@font-face {
  font-family: 'PlatypiLight';
  src: url('./assets/Platypi-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PlatypiLightItalic';
  src: url('./assets/Platypi-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlatypiMedium';
  src: url('./assets/Platypi-SemiBold.ttf') format('truetype');
}

/* Root Level Font */
#root {
  font-family: 'PlatypiLight', serif;
  margin: 1px;
  font-weight: 400;
  font-size: 16px;
  word-break: normal;
  width: 100%;
}
