@font-face {
  font-family: 'PlatypiLight';
  src: url('./assets/Platypi-Light.ttf') format('truetype');
}

/* Root Level Font */
#root {
  font-family: 'PlatypiLight', serif;
  height: 100vh;
  width: 100vw;
  margin: 1px;
  font-weight: 400;
  font-size: 16px;
  word-break: normal;
}
